<div class="header">
    <div class="header_logo">
        <img src="assets/Images/Flution-v1.png" alt="">
    </div>
    <div class="header_tab">
        <ul class="tabs">
            <li (click)="currentTab = 'home'" [classList]="currentTab == 'home' ? 'active tab' : 'tab'">Home</li>
            <li (click)="currentTab = 'service'" [classList]="currentTab == 'service' ? 'active tab' : 'tab'">Service</li>
            <li (click)="currentTab = 'contact'" [classList]="currentTab == 'contact' ? 'active tab' : 'tab'">Contact Us</li>
        </ul>
        <a href="#">Request Quote</a>
    </div>
</div>
