.header {
  width: 80%;
  padding: 0 10%;
  position: fixed;
  // border-bottom: 1px solid #2b2d3d;
  top: 1rem;
  // height: 10vh;
  background-color: #232536;
  z-index: 1000;
  .header_logo {
    width: 10%;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .header_tab {
    // height: 100%;
    width: 80%;
    border-radius: 10px;
    // height: 10vh;
    background-color: inherit;
    .menu {
      list-style: none;
      height: 100%;
      // width: 100%;
      background-color: #232536;
      border-radius: 0 10px 10px 10px;
      .tab {
        color: #8e8f98;
        border-top: 2px solid #232536;
        padding: 0;
        cursor: pointer;
        &.active {
          color: #e3e3e5;
          border-top: 2px solid #00a5e6;
        }
      }
      a {
        display: flex;
        text-decoration: none;
        &.request {
          margin-top: 5px;
          color: #0493cd;
        }
        img {
          width: fit-content;
          margin: auto 0 auto 10px;
        }
      }
    }
  }
}
