.header {
  width: 80%;
  padding: 0 10%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2b2d3d;
  height: 10vh;
  background-color: transparent;
  //   background-color: #232536;
  .header_logo {
    width: 10%;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .header_tab {
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
    .tabs {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 65%;
      .tab {
        color: #8e8f98;
        height: 100%;
        display: flex;
        align-items: center;
        border-top: 5px solid #232536;
        padding: 0 10px;
        cursor: pointer;
        &.active {
          color: #e3e3e5;
          border-top: 5px solid #00a5e6;
        }
      }
    }
    a {
      width: 35%;
      display: flex;
      justify-content: space-around;
      color: #0493cd;
      text-decoration: none;
      margin-top: 5px;
    }
  }
}
