.consulting {
  width: 80%;
  padding: 10vh 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .consulting_left {
    width: 50%;
    img {
      width: 80%;
    }
  }
  .consulting_right {
    width: 50%;
    .dev_head {
      font-size: 2rem;
      line-height: 2rem;
      margin: 0 auto 3% auto;
      font-weight: 900;
      background: #2c4cc4;
      background: linear-gradient(to right, #2c4cc4 0%, #39a9f9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .dev_desc {
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 700;
      color: #fff;
    }
  }
}
