<div class="process">
  <div class="process_top">
    <div class="pt_left">
      <p class="head_top">OUR PROCESS</p>
      <h1>The process we are working with Our client worldwide</h1>
      <!-- <p class="desc"></p> -->
    </div>
    <div class="pt_right">
      <img src="assets/Images/Flution_logo.png" alt="" />
    </div>
  </div>
  <div class="process_bottom">
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Discover _Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Discover</h4>
          <p>
            We aim to keep moving forward, opening new doors, and doing new things, because we’re curious and curiosity keeps leading us down new paths.
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>01</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Designing_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Designing</h4>
          <p>
            Design is not just what it looks like and feels like.Design is how it works.
            Intuitive design is how we give the user new superpowers.
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>02</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Development_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Development</h4>
          <p>
            Lots of methodologies have come and gone, paradigms have changed but the requirements are always the same.We make it good and make it fast.
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>03</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Testing_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Testing</h4>
          <p>
            An infinite process of comparing the invisible to the ambiguous in order to avoid the unthinkable happening to the anonymous - We call it Testing. 
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>04</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Deployment_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Deployement</h4>
          <p>
            With the support of our vibrant web developer community , our goal is to level the playing field. We love what we do and we do what our clients love.
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>05</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Maintainence_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Maintainence</h4>
          <p>
            We speak of code and include the element of uncertainty - and perhaps it's best approached as the art of constant maintenance.
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>06</h1>
      </div>
    </div>
  </div>
</div>
