.process {
  width: 80%;
  margin: auto;
  .process_top {
    display: flex;
    justify-content: space-between;
    .pt_left {
      width: 100%;
      .head_top {
        position: relative;
        text-align: center;
        font-size: 3.5rem;
        color: #c4c4c6;
        &::after {
          content: "";
          bottom: -10px;
          left: 42.5%;
          position: absolute;
          width: 15%;
          height: 15%;
          background-color: #5160ff;
          border-radius: 25px;
        }
      }
      span {
        height: 20px;
        width: 100%;
      }
    }
    .border {
    }
    .pt_right {
      text-align: right;
    }
  }
  .process_bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .process_card {
      width: 30%;
      margin: 5% auto 0;
      background-color: #0f1422;
      position: relative;
      width: 450px;
      height: 450px;
      border-radius: 10px;
      overflow: hidden;

      .card_content {
        text-align: center;

        .img_container {
          position: absolute;
          top: 50%;
          transform: translateY(-80%);
          z-index: 100;
          width: 100%;
          height: 220px;
          transition: 0.5s;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0);
            // width: 270px;
            height: fit-content;
            color: #fff;
            width: 100px;
            margin: 0 10px 0 0;
          }
        }
        .card_content_text {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100px;
          text-align: center;
          transition: 1s;
          z-index: 10;
          h4 {
            position: relative;
            font-weight: 600;
            letter-spacing: 1px;
            color: #fff;
            margin: 0;
            font-size: 2rem;
            margin-bottom: 100px;
          }
          p {
            color: #7f808c;
          }
        }
      }
      &:hover {
        .card_content {
          .img_container {
            top: 0%;
            transform: translateY(0%);
            img {
              width: 75px;
              transition: width 1000ms;
            }
          }
          .card_content_text {
            height: 210px;
            h4 {
              margin: 0;
              transition: margin 1000ms;
            }
            p {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.5s;
            }
          }
        }
      }
    }
  }
}
