<div class="process">
  <div class="process_top">
    <div class="pt_left">
      <p class="head_top">OUR PROCESS</p>
      <h1>The process we are working with Our client worldwide</h1>
      <!-- <p class="desc"></p> -->
    </div>
    <div class="pt_right">
      <img src="assets/Images/Flution_logo.png" alt="" />
    </div>
  </div>
  <div class="process_bottom">
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Discover _Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Discover</h4>
          <p>
            We aim to attain the greatest satisfaction for out clients and be
            one of the prominent
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>01</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Designing_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Designing</h4>
          <p>
            We aim to attain the greatest satisfaction for out clients and be
            one of the prominent
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>02</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Development_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Development</h4>
          <p>
            We aim to attain the greatest satisfaction for out clients and be
            one of the prominent
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>03</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Testing_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Testing</h4>
          <p>
            We aim to attain the greatest satisfaction for out clients and be
            one of the prominent
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>04</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Deployment_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Deployemnt</h4>
          <p>
            We aim to attain the greatest satisfaction for out clients and be
            one of the prominent
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>05</h1>
      </div>
    </div>
    <div class="process_card">
      <div class="card_content">
        <img src="assets/Images/Maintainence_Icon.png" alt="" />
        <div class="card_content_text">
          <h4>Maintainence</h4>
          <p>
            We aim to attain the greatest satisfaction for out clients and be
            one of the prominent
          </p>
        </div>
      </div>
      <div class="card_progress">
        <h1>06</h1>
      </div>
    </div>
  </div>
</div>
