<div class="expertise">
  <div class="ex_left">
    <p class="ex_top">OUR EXPERTISE</p>
    <p class="ex_desc">
      We want to get local identification in every corner of the world in this
      era of global citizenship
    </p>
  </div>
  <div class="ex_right">
    <div class="ex_card">
      <div class="card_content">
        <div class="card_img">
          <img src="assets/Images/On time delivery.png" alt="" />
        </div>
        <div class="card_text">
          <h5>On Time Delivery</h5>
          <p>
            The best quality that describe flutions is prominent delivery of
            projects on time
          </p>
        </div>
      </div>
    </div>
    <div class="ex_card">
      <div class="card_content">
        <div class="card_img">
          <img src="assets/Images/Best quality.png" alt="" />
        </div>
        <div class="card_text">
          <h5>Best Quality</h5>
          <p>
            The best quality that describe flutions is prominent delivery of
            projects on time
          </p>
        </div>
      </div>
    </div>
    <div class="ex_card">
      <div class="card_content">
        <div class="card_img">
          <img src="assets/Images/support assist.png" alt="" />
        </div>
        <div class="card_text">
          <h5>Support Assist</h5>
          <p>
            The best quality that describe flutions is prominent delivery of
            projects on time
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
