<div class="contact">
  <div class="contact_left">
    <div class="cl_top">
      <h1>Let's make something special</h1>
    </div>
    <div class="cl_middle">
      <p>Let's Talk!</p>
    </div>
    <div class="cl_bottom">
      <a href="tel:+917358559990">(+91) 7358 559990</a>
      <a href="mailto:info@flutions.in">info@flutions.in</a>
    </div>
  </div>
  <div class="contact_right">
    <div class="cr_top">
      <div class="home cr_top_links">
        <p>Home</p>
        <p>Service</p>
        <p>Company</p>
      </div>
      <div class="service cr_top_links">
        <p>Service</p>
        <ul>
          <li>Development</li>
          <li>Technical Support</li>
          <li>Testing</li>
        </ul>
      </div>
      <div class="Resourses cr_top_links">
        <p>Resourses</p>
        <ul>
          <li>About Us</li>
          <li>Testimonial</li>
          <li>Privacy Policy</li>
          <li>Terms of use</li>
          <li>Blogs</li>
        </ul>
      </div>
    </div>
    <div class="cr_bottom">
      <img src="../../../assets/Images/Flution-v1.png" alt="" />
    </div>
  </div>
</div>
