<div class="inquiry">
  <div class="inquiry_left">
    <h1>Building stellar websites for early startups</h1>
  </div>
  <div class="inquiry_right">
    <h2>Send inquiry</h2>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Your Name</mat-label>
        <input matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" />
      </mat-form-field>
      <button>Send an inquiry</button>
    </form>
  </div>
</div>
