<div class="team">
  <h1 class="team_heading">Meet our team</h1>
  <div class="team_cards">
    <div class="card">
      <img src="assets/Images/khizer.jpg" alt="" />
      <h1 class="name">Khizer Hussain</h1>
      <p class="designation">Founder & CEO</p>
    </div>
    <div class="card">
      <img src="assets/Images/profile-user.png" alt="" />
      <h1 class="name">Hussain Ahmed</h1>
      <p class="designation">Co-Founder & CFO</p>
    </div>
    <div class="card">
      <img src="assets/Images/rutuja.jpeg" alt="" />
      <h1 class="name">Rutuja Anil Kale</h1>
      <p class="designation">Co-Founder & CTO</p>
    </div>
    <div class="card">
      <img src="assets/Images/jacob.jpg" alt="" />
      <h1 class="name">Jacob Machado</h1>
      <p class="designation">Design Lead</p>
    </div>
  </div>
</div>
