@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: myNunitoFont;
  src: url(assets/Fonts/nunito/Nunito-Bold.ttf);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Nunito", myNunitoFont, sans-serif !important;
  overflow-x: hidden;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  ol {
    margin: 0;
    padding: 0;
  }
  font-size: 18px;
}

.header_tab {
  // background-color: #fff;
  // box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  // width: 100%;
  z-index: 3;
}

.header_tab ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  // background-color: #fff;
}

.header_tab li a {
  display: block;
  padding: 20px 20px;
  // border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header_tab li a:hover,
.header_tab .menu-btn:hover {
  // background-color: #f4f4f4;
}

.header_tab .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header_tab .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header_tab .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header_tab .menu-icon .navicon {
  background: #00a5e6;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header_tab .menu-icon .navicon:before,
.header_tab .menu-icon .navicon:after {
  background: #00a5e6;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header_tab .menu-icon .navicon:before {
  top: 5px;
}

.header_tab .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header_tab .menu-btn {
  display: none;
}

.header_tab .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header_tab .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header_tab .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header_tab .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header_tab .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header_tab .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 999px) {
  .header_tab li {
    float: left;
  }
  .header_tab li a {
    padding: 20px 30px;
  }
  .header_tab .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header_tab .menu-icon {
    display: none;
  }
}

@media (max-width: 999px) {
  .tab {
    &.active {
      border-top: none !important;
      border-left: 5px solid #00a5e6;
    }
  }
}
// Responsive
@media (max-width: 768px) {
  body {
    font-size: 8px !important;
  }
  .header {
    width: 100% !important;
    padding: 0 !important;
    .header_tab {
      width: 100% !important;
    }
  }

  .banner_section {
    flex-direction: column-reverse;
    text-align: center;
    width: 100% !important;
    padding: 20vh 0 10vh !important;
    .banner_left {
      width: 80% !important;
      margin: 10px auto !important;
    }
    .banner_right {
      width: 100% !important;
      height: unset !important;
      img {
        height: unset !important;
        width: 100% !important;
      }
    }
    .banner_right {
      text-align: center !important;
    }
    h1 {
      font-size: 2rem !important;
      line-height: 2rem !important;
    }
  }
  .process {
    .process_top {
      .pt_left {
        width: 100% !important;
        .head_top {
          font-size: 1rem !important;
        }
        h1 {
          font-size: 2.5rem !important;
          line-height: 2.5rem !important;
        }
      }
      .pt_right {
        display: none !important;
      }
    }
    .process_bottom {
      .process_card {
        width: 100% !important;
      }
    }
  }
  .development {
    flex-direction: column;
    width: 100% !important;
    padding: 0 0 10vh 0 !important;
    .development_left {
      width: 100% !important;
      text-align: center !important;
      img {
        width: 100% !important;
      }
    }
    .development_right {
      width: 80% !important;
      margin: 10% 0 0 0 !important;
      h3 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 2rem !important;
        line-height: 2rem !important;
      }
    }
  }
  .technical {
    flex-direction: column-reverse;
    width: 100% !important;
    padding: 0 0 10vh 0 !important;
    .technical_left {
      width: 80% !important;
      margin: 10% 0 0 0 !important;
      h3 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 2rem !important;
        line-height: 2rem !important;
      }
    }
    .technical_right {
      width: 100% !important;
      text-align: center !important;
      img {
        width: 100% !important;
      }
    }
  }
  .consulting {
    flex-direction: column;
    width: 100% !important;
    padding: 0 0 10vh 0 !important;
    .consulting_left {
      width: 100% !important;
      text-align: center !important;
      img {
        width: 100% !important;
      }
    }
    .consulting_right {
      width: 80% !important;
      margin: 10% 0 0 0 !important;
      h3 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 2rem !important;
        line-height: 2rem !important;
      }
    }
  }
  .expertise {
    flex-direction: column;
    .ex_left {
      width: 100% !important;
      .ex_desc {
        font-size: 2rem !important;
        line-height: 2rem !important;
        margin: 20px auto !important;
      }
    }
    .ex_right {
      width: 100% !important;
    }
  }
  .inquiry {
    flex-direction: column;
    background-image: none !important;
    background-color: #1c1e53 !important;
    justify-content: space-evenly !important;
    .inquiry_left {
      width: 100% !important;
      h1 {
        font-size: 2.3rem !important;
        line-height: 2.3rem !important;
      }
    }
    .inquiry_right {
      width: 100% !important;
      h2 {
        font-size: 1.5rem !important;
      }
      button {
        font-size: 0.8rem !important;
      }
    }
  }
  .team {
    width: 96% !important;
    padding: 10vh 2% !important;
    .team_heading {
      font-size: 2rem !important;
      line-height: 2rem !important;
    }
    .team_cards {
      .card {
        padding: 5% 20px !important;
        margin: 10px !important;
        width: 30% !important;
        h1 {
          font-size: 0.8rem !important;
          margin: 2px auto !important;
        }
        p {
          font-size: 0.6rem !important;
          margin: 2px auto !important;
        }
      }
    }
  }
  .contact {
    flex-direction: column;
    width: 90% !important;
    padding: 10vh 5% !important;
    .contact_left {
      width: 100% !important;
      h1 {
        font-size: 2rem !important;
        line-height: 2rem !important;
      }
      p {
        font-size: 1rem !important;
        line-height: 1rem !important;
      }
      a {
        margin: 0 !important;
      }
    }
    .contact_right {
      width: 100% !important;
      margin: 10px auto !important;
      .cr_top {
        justify-content: space-between !important;
        .cr_top_links {
          font-size: 0.8rem !important;
        }
      }
      .cr_bottom {
        display: none !important;
      }
    }
  }

  .footer {
    width: 96% !important;
    padding: 0 2% !important;
    img {
      width: 40px !important;
    }
    p {
      font-size: 0.8rem !important;
    }
    svg {
      width: 15px !important;
    }
  }
}
